@reference "tailwindcss";

.login-headerTitle {
	@apply text-black
		text-2xl
		font-bold
		leading-[42px]
		mt-3;
}

.login-body-Container {
	@apply w-[450px]
		h-[456px]
		mt-[35px]
		bg-white
		shadow-[0px_2px_4px_-2px_rgba(0,0,0,0.10),0px_4px_6px_-1px_rgba(0,0,0,0.10)]
		border
		border-[#E5E7EB]
		rounded-[8px]
		p-4;
}

.login-body-Title {
	@apply text-[#09090B]
	text-[24px]
	font-semibold
	leading-[36px]
	tracking-[-0.6px]
	text-center;
}

.login-body-Content {
	@apply mt-[40px]
	flex
	flex-col
	items-center;
}

.login-body-rememberMeContainer {
	@apply flex
		w-[400px]
		items-center
		justify-between
		mt-[22px];
}

.login-body-rememberMeCheckboxContainer {
	@apply flex
		items-center
		space-x-2;
}

.login-body-rememberMeLabel {
	@apply text-sm;
}

.login-body-forgotPasswordLink {
	@apply text-sm
		text-indigo-600
		hover:text-indigo-500;
}

.login-body-button {
	@apply w-[400px]
		mt-[22px]
		bg-indigo-500
		hover:bg-indigo-600;
}

.login-body-newConnectlyContainer {
	@apply mt-[22px]
		text-center
		text-sm;
}

.login-body-newConnectlyTitle {
	@apply text-gray-600;
}

.login-body-newConnectlyLink {
	@apply text-indigo-600
		hover:text-indigo-500;
}

.login-footer-container {
	@apply mt-[111px]
		text-center
		text-xs
		text-gray-500
		flex
		items-center
		justify-center;
}
